{% extends 'base.html' %}

{% block content %}
  <main>
    <div>
        <h1>My Tasks</h1>
        {% if show_my_tasks|length == 0 %}
            <p>"You have no tasks"</p>
            {% else %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for task in show_my_tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ value|yesno }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
  </main>
{% endblock content %}
